// @import url("https://fonts.googleapis.com/css?family=Lato");

// // * {
// //   box-sizing: border-box;
// // }

// // body {
// //   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   flex-direction: column;

// //   min-height: 100vh;
// //   font-family: "Lato", sans-serif;
// //   margin: 0;
// // }

// // h1 {
// //   text-align: center;
// // }

// // .timeline-container {
// //   display: flex;
// //   flex-direction: column;
// //   position: relative;
// //   margin: 40px 0;
// // }

// // .timeline-container::after {
// //   background-color: #e17b77;
// //   content: "";
// //   position: absolute;
// //   left: calc(50% - 2px);
// //   width: 4px;
// //   height: 100%;
// // }

// .timeline-item {
//   display: flex;
//   justify-content: flex-end;
//   padding-right: 30px;
//   position: relative;
//   margin: 10px 0;
//   width: 50%;
// }

// .timeline-item:nth-child(odd) {
//   align-self: flex-end;
//   justify-content: flex-start;
//   padding-left: 30px;
//   padding-right: 0;
// }

// .timeline-item-content {
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
//   border-radius: 5px;
//   background-color: #fff;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   padding: 15px;
//   position: relative;
//   width: 400px;
//   max-width: 70%;
//   text-align: right;
// }

// .timeline-item-content::after {
//   content: " ";
//   background-color: #fff;
//   box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
//   position: absolute;
//   right: -7.5px;
//   top: calc(50% - 7.5px);
//   transform: rotate(45deg);
//   width: 15px;
//   height: 15px;
// }

// .timeline-item:nth-child(odd) .timeline-item-content {
//   text-align: left;
//   align-items: flex-start;
// }

// .timeline-item:nth-child(odd) .timeline-item-content::after {
//   right: auto;
//   left: -7.5px;
//   box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
// }

// .timeline-item-content .tag {
//   color: #fff;
//   font-size: 12px;
//   font-weight: bold;
//   top: 5px;
//   left: 5px;
//   letter-spacing: 1px;
//   padding: 5px;
//   position: absolute;
//   text-transform: uppercase;
// }

// .timeline-item:nth-child(odd) .timeline-item-content .tag {
//   left: auto;
//   right: 5px;
// }

// .timeline-item-content time {
//   color: #777;
//   font-size: 12px;
//   font-weight: bold;
// }

// .timeline-item-content p {
//   font-size: 16px;
//   line-height: 24px;
//   margin: 15px 0;
//   max-width: 250px;
// }

// .timeline-item-content a {
//   color: #333;
//   text-decoration: none;
//   font-size: 14px;
//   font-weight: bold;
// }

// .timeline-item-content a::after {
//   content: "►";
//   font-size: 12px;
// }

// .timeline-item-content .circle {
//   background-color: #fff;
//   border: 3px solid #e17b77;
//   border-radius: 50%;
//   position: absolute;
//   top: calc(50% - 10px);
//   right: -40px;
//   width: 20px;
//   height: 20px;
//   z-index: 100;
// }

// .timeline-item:nth-child(odd) .timeline-item-content .circle {
//   right: auto;
//   left: -40px;
// }

// @media only screen and (max-width: 1023px) {
//   .timeline-item-content {
//     max-width: 100%;
//   }
// }

// @media only screen and (max-width: 767px) {
//   .timeline-item-content,
//   .timeline-item:nth-child(odd) .timeline-item-content {
//     padding: 15px 10px;
//     text-align: center;
//     align-items: center;
//   }

//   .timeline-item-content .tag {
//     width: calc(100% - 10px);
//     text-align: center;
//   }

//   .timeline-item-content time {
//     margin-top: 20px;
//   }

//   .timeline-item-content a {
//     text-decoration: underline;
//   }

//   .timeline-item-content a::after {
//     display: none;
//   }
// }

// footer {
//   background-color: #222;
//   color: #fff;
//   font-size: 14px;
//   bottom: 0;
//   position: fixed;
//   left: 0;
//   right: 0;
//   text-align: center;
//   z-index: 999;
// }

// footer p {
//   margin: 10px 0;
// }

// footer i {
//   color: red;
// }

// footer a {
//   color: #3c97bf;
//   text-decoration: none;
// }

.title {
  font-size: 60px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  padding-top: 0.1em;
}

.vertical-timeline-element-content {
  // box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
  //   0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  // padding: 2em 3em !important;
  box-shadow: 0.25em 0.25em 0.5em 0.25em rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 5px 5px !important;
  // background-color: grey !important;
}

.vertical-timeline::before {
  background: grey !important;
}

span {
  .vertical-timeline-element-date {
    color: #f3bc3c;
    background-color: red;
  }
}

#description {
  margin: 1em 0 1em 0;
}

.button {
  text-decoration: none;
  padding: 0.2em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
